Flask
Werkzeug
PyPDF2
pytesseract
pdf2image
pillow
gunicorn
python-dateutil
requests
numpy
pandas
pydantic
python-magic
python-dotenv
flask-cors
pytz
pdfminer.six
ollama
opencv-python
loguru
langchain-community
langchain-core
langchain-ollama
pymupdf
